@tailwind base;
@tailwind components;
@tailwind utilities;

@layer  utilities{
    .text-primary{
        background: linear-gradient(90deg, #f9bc2e 0, #e29a1e 13%, #ffcd38 30%, #f0af30 73%, #e29a1e 83%, #ffcd38 96%, #dd931a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}